body {
    /* overflow: hidden; */
    margin: 0%;
    padding: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    cursor: default;
    color: white;
    background-color: black;
    font-family: 'Space Mono', monospace;
}
body::after {
    background-size: 100% 100%;
    background-image: url("/img/401912580_BLACK_LIQUID_400px.gif");
    content: "";
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
}
#logo {
    height: auto;
    width: 80vw;
    margin: 0.2em;
}
#container {
    height: 99vh;
    width: 99vw;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}
#card_container {
    border-radius: 50%;
    padding: 10px;
    height: auto;
    width: auto;
    grid-row: 1;
    justify-items: center;
    align-items: center;
    display: grid;
    margin: 10px;
    border: 2px solid white !important;
    justify-content: center;
    align-content: center;
    text-align: center;
    background: black;
}
#card_display {
    height: 5em;
    width: 15em;
    margin: 2%;
    background-color: black;
    font-weight: bolder;
    color: white;
    border-radius: 1em;
    font-size: 20px;
    background-color: rgba(30, 30, 30, 1);
    /* font-size: 20px; any font size changes break the page :/ */
    animation-name: displayupdate;
    animation-timing-function: ease-in;
    animation-duration: 100ms;
}

@keyframes displayupdate {
    100%{
        color: black;
    }
    
}

#card_button button {
    cursor: pointer;
}
#drawn_counter {
    display: inline-flex;
    height: auto;
    width: auto;
    justify-items: center;
    align-items: center;
}
#counter_holder {
    display: inline-flex;
    height: auto;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    justify-items: center;
    align-items: center;
}
#dice_container {
    padding: 20px;
    border-radius: 50%;
    height: auto;
    width: auto;
    grid-row: 2;
    justify-items: center;
    align-items: center;
    display: grid;
    margin: 10px;
    border: 2px solid white !important;
    justify-content: center;
    align-content: center;
    text-align: center;
    background: black;
}
#dice_display {
    height: 10vh;
    width: 80%;
    margin: 2%;
    background-color: black;
    font-weight: bolder;
    color: white;
    border-radius: 1em;
    font-size: 40px;
    background-color: rgba(30, 30, 30, 1);
}
#roll_dice_button button {
    cursor: pointer;
}
#rolled_counter {
    display: inline-flex;
    height: auto;
    width: auto;
    justify-items: center;
    align-items: center;
}
#title {
    display: flex;
    align-content: center;
    background-image: none;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

  /* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: black;
    color: white;
}

.modal-body {
    padding: 2px 16px;
    background-color: rgba(30, 30, 30, 1)
}

.modal-footer {
    padding: 2px 16px;
    background-color: black;
    color: white;
}

/* new buttons */
.interactbutton {
    font-family: monospace;
    color: black;
    background-color: white;
    height: auto;
    width: auto;
    padding: 2%;
    font-size: xx-large;
    border-radius: 1em;
}
.interactbutton:active {
    color: white;
    background-color: black;
}

#rulesButton {
    font-size: xx-large;
    font-family: monospace;
    color: white;
    background-color: black;
    padding: 2%;
    border-radius: 50%;
    margin: 0;
    border: white 2px solid;
    left: 0px !important;
}

.rulescontent {
    border: solid black 4px;
    margin: 0;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
}
.rulescontent h3 {
    background-color: black;
}
.rulescontent img {
    display: block;
    margin: auto;
    max-width: 200px;
}
.exampletext{
    color: #562475;
    font-weight: bolder;
}
#dice {
    max-width: 100px;
    -webkit-animation:spin 10s linear infinite;
    -moz-animation:spin 10s linear infinite;
    animation:spin 10s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }