html {
    background-color: black;
    font-family: monospace;
    font-size: larger;
}
#header {
    background-color: black;
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: auto;
    top: 0;
}
.navbutton {
    border: 2px solid white;
    padding: 2%;
    height: 50px;
}
.navbutton:hover {
    background-color: white;
    color: black;
    cursor:pointer;
    font-weight: bolder;
    font-size: x-large;
    border-radius: 0px 0px 1em 1em;
    height: min-content;
}
#content {
    font-size: x-large;
    padding-top: 100px;
    background-color: black;
    color: white;
    cursor:default;
    align-content: center;
    justify-content: center;
    text-justify: auto;
    padding-bottom: 100px;
    padding-left: 5%;
}
#footer {
    background: rgb(0,0,0);
    color: rgba(100, 100, 100, 1);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: smaller;
}

.active {
    background-image: url("/img/401912580_BLACK_LIQUID_400px.gif");
    color: white;
    font-weight: 900;
    pointer-events: none; 
}

.logo {
    background-image: url("/icons/android-chrome-192x192.png");
    width: 64px;
    background-repeat: no-repeat;
    pointer-events: none;
    background-size: 100%;
    border: none;
}